# name: mots
# firmware builder configuration (tools/builder/registry.py keys; others take their defaults)
# Synth engines
ENG_DRAWBAR=0
ENG_GRAIN=0
FM6_MKI_FLASH=1
FM6_MODERN=0
FM6_OPL=0
FM6_SYSEX=0
NATIVE_BANKS=1
ENG_PHYS=1
ENG_ACID=1
UP_FM6=1
# Drums
DRUM_SAMPLED=0
KIT_ACOUSTIC=0
KIT_DEEP=0
KIT_TIGHT=0
KIT_BRIGHT=0
KIT_DUST=0
DRUM_X0X909=1
X909_CYM=2
DRUM_X0X808=1
# Sample sets
SET_PIANO=0
SET_BASS=0
SET_VIBES=0
SET_HORNS=0
SET_STRGS=0
SET_FLUTE=0
SET_SCRCH=0
# FX
FX_DIST=0
DLY_LEN=32768
REV_ROOM=0
REV_FDN8=1
REV_POOL=1
REV_HALF=1
FX_SLICER=0
FX_DUST=0
TRK_FILT=1
BASSPLUS=1
GLIDE=1
PUNCH_LATCH=1
# Sequencer
CHORDPLUS=1
SNAPSHOTS=8
PATTERNS=1
MACROS=1
ENERGY=1
CHANCE=1
QNT_SEQ=1
MOTION=1
REC_MODES=1
MOTION_MARK=1
SL24_XSTEP=1
MICRO=1
FILLS=1
PLOCK=1
# MIDI & USB
USB_MODE=0
# UI
DRUM_STEP=1
PARAM_HELP=1
BPM_LOCK=1
DIV_ORDER=1
# System
CPU_GUARD=1
SIMD=1
# Experimental
DUAL=2
